In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('netflix_titles.csv')
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [22]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [23]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [24]:
# Convert 'date_added' to datetime format
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Check for conversion
df['date_added'].head()

0   2021-09-25
1   2021-09-24
2   2021-09-24
3   2021-09-24
4   2021-09-24
Name: date_added, dtype: datetime64[ns]

In [25]:
# Extract year and month from 'date_added'
df['year_added'] = df['date_added'].dt.year
df['month_added'] = df['date_added'].dt.month

In [26]:
# Split 'duration' into numeric and category columns
df['duration_num'] = df['duration'].str.extract('(\d+)').astype(float)  # Extract numeric part
df['duration_type'] = df['duration'].str.extract('([a-zA-Z]+)').astype(str)  # Extract type part
df['duration_num'].head()

0    90.0
1     2.0
2     1.0
3     1.0
4     2.0
Name: duration_num, dtype: float64

In [27]:
df['duration_type'].head()

0        min
1    Seasons
2     Season
3     Season
4    Seasons
Name: duration_type, dtype: object

In [28]:
# Drop columns if needed (example: description)
df.drop(columns=['description'], inplace=True)

In [29]:
# Fill missing values for specific columns with 'Unknown'
df['director'].fillna('Unknown', inplace=True)
df['cast'].fillna('Unknown', inplace=True)
df['country'].fillna('Unknown', inplace=True)
df['date_added'].fillna('Unknown', inplace=True)
df['year_added'].fillna('Unknown', inplace=True)
df['month_added'].fillna('Unknown', inplace=True)
df['rating'].fillna('Unknown', inplace=True)
# Fill missing values in 'duration' with 'Unknown'
df['duration'].fillna('Unknown', inplace=True)

# Check missing values again
df.isnull().sum()

/var/folders/08/bklv4sgx7wnfq2sn9wk1r9sw0000gn/T/ipykernel_63985/2949401309.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df['date_added'].fillna('Unknown', inplace=True)
/var/folders/08/bklv4sgx7wnfq2sn9wk1r9sw0000gn/T/ipykernel_63985/2949401309.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['year_added'].fillna('Unknown', inplace=True)
/var/folders/08/bklv4sgx7wnfq2sn9wk1r9sw0000gn/T/ipykernel_63985/2949401309.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['month_added'].fillna('Unknown', inplace=True)

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
year_added       0
month_added      0
duration_num     3
duration_type    0
dtype: int64

In [31]:
median_duration = df['duration_num'].median()

# Fill missing values in 'duration_num' with the median
df['duration_num'].fillna(median_duration, inplace=True)

# Verify if all missing values are filled
df.isnull().sum()

show_id          0
type             0
title            0
director         0
cast             0
country          0
date_added       0
release_year     0
rating           0
duration         0
listed_in        0
year_added       0
month_added      0
duration_num     0
duration_type    0
dtype: int64